.button {
  $text-color: white;
  $color: var(--button-color, white);

  color: $text-color !important;
  background-color: $color !important;
  border-color: $color !important;

  font-size: 1em !important;
  padding: .5em 2em !important;

  border-width: 1.5px !important;
  border-style: solid !important;
  border-radius: 100px !important;

  &.outline {
    color: $color !important;
    background-color: transparent !important;
  }

  &:hover {
    color: $text-color !important;
    background-color: $color !important;
    border-color: $color !important;
    filter: brightness(0.9) !important;
  }

  &.outline:hover {
    filter: unset !important;
  }
}

@media (max-width: 600px) {
  .button {
    width: 100%;
  }
}
