.row {
  padding: 5px 30px;
}

.container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 20px;

  .title {
    margin: 0
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;

    .license {
      display: flex;
      align-items: center;
    }
  
    .link a {
      color: gray
    }
  }
}

.licenses {
  display: flex;
  align-items: center;
  align-self: last-baseline;

  img {
    vertical-align: inherit;
  }

}
.icons {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: inherit;
}
