.row {
  padding: 5px 30px;
}

.container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 20px;

  .title {
    margin: 0
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;

    .license {
      display: flex;
      align-items: center;
    }
  
    .link a {
      color: gray
    }
  }
}

@mixin licenseSizing {
  vertical-align: inherit;
  &.icons {
    width: 1.5rem;
    height: auto;
    vertical-align: inherit;
    margin: 0;
  }
}

.licenses {
  display: flex;
  align-items: center;
  align-self: last baseline;
  gap: 0.25rem;

  img {
    @include licenseSizing
  }
  svg {    
    @include licenseSizing
  }
}
