.carousel-inner {
  background-color: white;
}
.carousel-indicators li {
  background-color: #a3acb2;
}
.panel-list {
  margin-top: 20px;
}

.panel-body h3.member > i {
  color: #1abc9c;
  font-size: 100%;
}

.metrics-counter i.fa {
  line-height: 25px;
  margin-right: 3px;
}

.metrics-counter i {
  margin-right: 1.5em;
}

.panel-footer span.bookmark, .panel-footer span.cite, .panel-footer span.save, .panel-footer span.claim, .panel-footer span.share {
  color: #88939A;
  margin-right: .75em;
  cursor: pointer;
}

.panel-footer .actions {
  margin-left: 3em;
}

h3.popover-title {
  background: #F7F9F9;
  font-size: 21px;
}
