.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;

  .title {

  }

  .details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;

    .icons {
      display: flex;
      column-gap: 2px;
    }
  
    .link a {
      color: gray
    }
  }
}