.link {
  color: gray
}

.title {
  margin: 0;
   padding: 0;
   a { 
     font-weight: 700;
   }
}

.details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1.3rem;
  padding: 0 !important;

  .link a {
    color: gray;
  }
}
