.metrics {
  grid-row: 2;
  margin-bottom: 30px;
  dl {
    display: grid;
    grid-template: auto 1fr / 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin:0;
  }
  dt {
    grid-row: 1;
    border-top: 2px solid black;
  }
  dd{
    grid-row: 2;
  }
}