.metrics {
  grid-row: 2;
  padding-bottom: 30px;
  max-width: 600px;

  dl {
    display: grid;
    grid-template: auto 1fr / 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin: 0;
  }
  dt {
    grid-row: 2;
    font-size: 1.2rem;
  }
  dd{
    grid-row: 1;
    border-top: 2px solid black;
    font-size: 1.5rem;
  }
  dt, dd{
    line-height: 1;
  }
}
