.metrics {
  grid-row: 2;
  max-width: 600px;
  text-align: center;

  dl {
    display: grid;
    grid-template: auto 1fr / 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin: 0;
  }
  dt {
    grid-row: 2;
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  dd{
    grid-row: 1;
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  dt, dd{
    line-height: 1;
  }
}
