@mixin header-style () {
  h3 {
    font-weight: 600;
    color: #1abc9c;
    border-bottom: 1px solid #cdd2d5;
    padding: 0;
    width: 100%;
  }
}

.header {
  display: grid;
  grid-template: auto / 1fr 300px;
  grid-gap: 1rem;
  .metrics {
    grid-row: 2;
    dl {
      display: grid;
      grid-template: auto 1fr / 1fr 1fr 1fr 1fr;
      grid-column-gap: 2rem;
      margin:0;
    }
    dt {
      grid-row: 1;
      border-top: 2px solid black;
    }
    dd{
      grid-row: 2;
    }
  }
}

.metadata {
  display: grid;
  grid-template: auto / 1fr 300px;
  grid-template-areas: "mdmain mdsidebar";
  grid-column-gap: 4rem;
}

.mdmain {
  grid-area: mdmain;
}
.mdsidebar {
  dd {
    display: inline;
    margin-right: 1rem;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin-top: 1rem;
}
.dashboard {
  @include header-style();

  .grid {

  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  grid-gap: 1rem;
}
}

.advise {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  display: grid;
  border: 1px solid green;
}

.contacts {
  @include header-style();
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  .contactList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 5px;
      a {
        overflow-wrap: break-word;
      }
    }
  }
}

.gotoButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3em;

  a {
    width: 100%;
  }
}
.share {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div {
    padding-left: 0px;
    padding-right: 0px;
  }
  @include header-style();
}
