@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'maltipoo/dist/stylesheets/doi.min.css';

/* Change Source Sans Pro to Source Sans 3 */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, li, .navbar, .brand, a, .td-name, td, .user-metrics-counter, .tooltip, .popover-content, .card-body span, .chart .badge, #disqus_thread {
  font-family: unset;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h3 {
  margin-bottom: .35em;
}

.card-body h3.member>i {
  color: #1abc9c;
  font-size: 100%;
}

span.metrics-counter {
  color: #88939A;
  margin-right: .75em;
  display: inline;
}

span.metrics-counter span {
  padding-left: 3px;
}

svg[data-icon='quote-left'] {
  padding-top: 3px;
  font-size: 20px;
}

.card-footer span.actions {
  color: #88939A;
  margin-right: .75em;
  cursor: pointer;
}

.card-footer span.actions.with-label {
  margin-right: 2.25em;
}

.card-footer a {
  margin-right: 3em;
}

.card-footer .actions {
  white-space: pre;
}

h3.popover-title {
  background: #F7F9F9;
  font-size: 21px;
}

.navbar-right {
  padding-top: 2px;
}

.navbar-right .dropdown .divider {
  height: 8px;
}

.btn.sign-in {
  border: 0;
  border-radius: 0;
  padding: 0;
  margin-top: 0;
  font-size: 18px !important;
}

.btn.sign-in:hover {
  background-color: transparent;
}

.form-inline {
  padding-bottom: 0;
  margin-left: 64px;
  margin-top: 19px;
}

.form-inline .input-group input[name="query"] {
  z-index: 2;
  width: 500px;
  height: 40px;
  border: 1px solid #cdd2d5;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  font-size: 18px;
  font-weight: 400;
  color: #34495e;
}

a.navbar-brand {
  height: unset
}

.form-inline {
  margin-left: 150px;
}

@media(max-width:1200px) {
  .form-inline .input-group input[name="query"] {
    width: 350px;
  }

  .form-inline {
    margin-left: -14px;
  }

  .navbar-header .navbar-brand {
    font-size: 27px;
  }
}

@media(max-width:767px) {
  .navbar.navbar-default .navbar-header .navbar-toggle {
    margin-top: 18px;
    margin-bottom: 0;
  }

  .navbar.navbar-default .navbar-collapse.collapse.in {
    display: block !important;
    margin-top: 0;
    border-width: 0;
  }

  .form-inline {
    margin-top: 0;
    border-width: 0;
  }

  .form-inline .input-group input[name="query"] {
    width: 290px;
  }

  h3.work,
  h3.member-results {
    font-size: 21px;
  }

  .tags .badge {
    font-size: 21px;
  }

  .nav.navbar-nav li {
    width: 80px;
    display: block;
    float: left;
  }

  .nav.navbar-nav li {
    font-size: 16px;
  }

  .hidden-mobile {
    display: none;
  }
}

.form-inline .input-group input[name="query"]:focus,
.form-inline .input-group input[name="query"]:focus+.search-submit {
  border-color: #1abc9c;
}

.form-inline #search-clear {
  z-index: 3;
  color: #cdd2d5;
  position: absolute;
  right: 60px;
  top: 10px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.form-inline input.form-control {
  text-indent: 18px;
}

.form-inline .input-group .input-group-btn button {
  z-index: 1;
  margin-top: 0;
  margin-left: -1px;
  margin-bottom: 0;
}

.form-inline .dropdown-menu {
	margin-block-start: 3px;
}

.input-group input[name="query-facets"] {
  z-index: 2;
  height: 40px;
  border: 1px solid #cdd2d5;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  font-size: 18px;
  font-weight: 400;
  color: #34495e;
}

#search-clear-facets {
  z-index: 3;
  color: #cdd2d5;
  position: absolute;
  right: 60px;
  top: 10px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.search-submit-facets {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 16px;
  height: 40px;
  width: 45px;
  border-top: 1px solid #cdd2d5;
  border-bottom: 1px solid #cdd2d5;
  border-right: 1px solid #cdd2d5;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 26px !important;
  border-bottom-right-radius: 26px !important;
  color: #34495e !important;
}

@media(max-width:1200px) {
  .input-group input[name="query-facets"] {
  }
}

#sign-in,
#basic-nav-dropdown {
  padding-top: 6px;
  height: 40px;
  border: 1px solid #cdd2d5;
  border-radius: 26px !important;
}

#sign-in:hover,
#basic-nav-dropdown:hover {
  color: white !important;
  background-color: #28394B !important;
}

h2.member-results {
  font-weight: 600;
  color: #1abc9c;
  border-bottom: 1px solid #cdd2d5;
  padding: 0;
  margin: 0 0 .35em 10px;
}

.pagination a {
  color: #28394B !important;
  border-color: #28394B !important;
}

.pagination a:hover {
  color: white !important;
  border-color: #e67e22 !important;
}

.pagination .disabled {
  color: #88939a !important;
  border-color: #88939a !important;
}

ul.counter-list {
  list-style: none;
  padding-inline-start: 10px;
}


/* remove iOS input shadow, from https://stackoverflow.com/questions/23211656/remove-ios-input-shadow */

input[type=text] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Then Style */
  border-radius: 5px;
}

.work span.small {
  color: #88939a;
}

.license svg {
  font-size: 27px;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.license img {
  height: 20px;
  margin-right: 3px;
}

.badge {
  margin-top: 8px;
  margin-right: 3px;
  font-size: 16px;
  padding: 6px 8px;
}

.badge-info, .badge.bg-info {
  background: #ffffff !important;
  color: #2b84d2;
  border: 2px solid #2b84d2;
  cursor: pointer;
}

.badge-success, .badge.bg-success {
  background: #ffffff !important;
  color: #2DC55E;
  border: 2px solid #2DC55E;
  cursor: pointer;
}

.badge-warning, .badge.bg-warning {
  background: #ffffff !important;
  color: #EB9E3E;
  border: 2px solid #EB9E3E;
  cursor: pointer;
}

.badge-default, .badge.bg-default {
  background: #ffffff !important;
  color: #66615B;
  border: 2px solid #66615B;
  cursor: pointer;
}

.badge-danger, .badge.bg-danger {
  background: #ffffff !important;
  color: #EB5E28;
  border: 2px solid #EB5E28;
  cursor: pointer;
}

.btn-default.claim {
  background: #ffffff;
  color: #66615B;
  border: 2px solid #66615B;
  margin: 8px 3px 3px 0;
  padding: 6px 8px;
  cursor: pointer;
}

.btn-success.claim {
  background: #ffffff;
  color: #2DC55E;
  border: 2px solid #2DC55E;
  margin: 8px 3px 3px 0;
  padding: 6px 8px;
  cursor: pointer;
}

.btn-danger.claim {
  background: #ffffff;
  color: #EB5E28;
  border: 2px solid #EB5E28;
  margin: 8px 3px 3px 0;
  padding: 6px 8px;
  cursor: pointer;
}

.pager li {
  margin: 3px;
}

ul.ror-identifiers {
  list-style: none;
  padding: 0;
}

.share-button {
  font-size: 32px;
  margin-right: 10px;
}

.no-content {
  margin-left: 10px;
  margin-right: 10px;
}

#search-nav {
  /* margin-left: -6px; */
  /* margin-top: -15px; */
  /* padding-left: 0; */
}

.nav-link.active {
  color: #34495e;
  border-bottom: 3px solid #1abc9c;
  border-radius: 0;
}

#search-nav li a::before,
#search-nav li a::after {
  display: none;
}

.form-inline .search-submit {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 16px;
  height: 40px;
  width: 45px;
  border-top: 1px solid #cdd2d5;
  border-bottom: 1px solid #cdd2d5;
  border-right: 1px solid #cdd2d5;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  color: #34495e !important;
}

.form-inline .search-submit:hover {
  border-color: #1abc9c;
  background-color: #1abc9c;
  color: white !important;
}

#related-content {
  margin-top: 30px;
}

#related-content h3.member-results {
  margin-top: 20px;
}

ul.nav.nav-tabs {
  margin-bottom: 10px;
}

ul.nav.nav-tabs li {
  margin-left: -15px;
  margin-right: 30px;
}

.content-tabs .tab-content {
  margin-left: -10px;
}

ul.nav.nav-tabs li span {
  font-weight: 600;
  color: #1abc9c;
  font-size: 25px;
}

.description.biography,
.description,
.registered,
.other-identifiers,
.location,
.metadata {
  margin-bottom: 10px;
}

.alert-works {
  margin: 10px;
}

.alert a {
  font-weight: 600;
}

.export-metadata {
  padding-left: 10px;
  margin-bottom: 20px;
}

#other-profiles {
  margin-top: 10px;
}

#data-sources {
  margin-bottom: 20px;
}

#data-sources h3.work {
  font-weight: 600;
}

#data-sources .intro {
  padding-bottom: 10px;
}

#data-sources .other {
  padding-top: 10px;
}

#data-sources .description {
  color: #88939a;
}

.navbar-header a.navbar-brand {
  margin-top: 5px !important;
}

.color-dot.loading {
  background-color: #34495e;
}

footer .funding {
  font-size: 15px;
}

.footer-column h4.share {
  margin-bottom: 2px;
}

.registered span,
.metrics span {
  font-size: inherit;
}

h4.work {
  margin-bottom: 0;
}

.creator-list,
.contributor-list,
.funder-list {
  margin-bottom: 10px;
}

.card.aggregations {
  margin-bottom: 20px;
}

.left-menu-buttons {
  padding: 0 15px 15px
}

/* New styles for mobile-friendly cookie bar. */

.MY_BUTTON_WRAPPER_CLASS {
  white-space: nowrap;
}

@media screen and (min-width: 376px) {
  .MY_CONTENT_CLASS {
    flex: 1 0 180px !important;
  }
}

@media screen and (max-width: 375px) {
  .MY_CONTAINER_CLASS {
    height: 130px !important;
  }

  .MY_CONTENT_CLASS {
    flex: 1 0 160px !important;
		font-size: 12px;
    position: relative;
    top: -25px;
  }

  .MY_DECLINE_BUTTON_CLASS {
    margin: 15px 5px !important
  }

  .MY_BUTTON_WRAPPER_CLASS {
    white-space: nowrap;
    position: relative;
    top: 5px;
  }

  .MY_BUTTON_WRAPPER_CLASS button {
    height: 50px;
  }
}













.navbar-light .navbar-nav .nav-link {
  color: #a3acb2;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #3498db;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #34495e;
}

.dropdown-menu.show {
  margin-top: 3rem !important;
  opacity: 1;
  visibility: visible;
}


.page-link {
  border-radius: 20px !important;
}

/* Tweaks for Bootstrap 4 */

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: #fff;
}

.nav-tabs {
  margin-left: 0px;
  margin-bottom: 10px;
}

.nav-tabs-member > .nav-link:first-child {
  margin-left: 0px;
}

.nav-tabs-member >.nav-link:focus, .nav-tabs-member > .nav-link:hover {
  border: 1px solid transparent;
}

.tags.col {
  padding-left: 15px;
  padding-right: 15px;
}

.work-identifiers > a {
  color: #3498db !important;
}

.download-list > h5 {
  font-weight: 700;
  margin-bottom: 0;
}

.badge {
  font-size: 18px;
}
