.panel-list {
  margin-top: 20px;
}

.panel-body h3.member > i {
  color: #1abc9c;
  font-size: 100%;
}

span.metrics-counter {
  color: #88939A;
  margin-right: .75em;
  display: inline; 
}

span.metrics-counter span {
  padding-left: 3px; 
}

svg[data-icon='quote-left'] {
  padding-top: 3px;
  font-size: 20px;
}

.panel-footer span.actions {
  color: #88939A;
  margin-right: .75em; 
  cursor: pointer;
}

.panel-footer span.actions.with-label {
  margin-right: 2.25em;
}

.panel-footer a {
  margin-right: 3em;
}

.panel-footer .actions {
  white-space: pre;
}

h3.popover-title {
  background: #F7F9F9;
  font-size: 21px;
}

.navbar-right {
  padding-top: 2px;
}

.navbar-form {
  padding-bottom: 0;
  margin-left: 54px;
  margin-top: 19px;
}

.navbar-form .input-group input[name="query"] {
  z-index: 2;
  width: 500px;
  height: 40px;
  border: 1px solid #cdd2d5;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  font-size: 18px;
  font-weight: 400;
  color: #34495e;
}

@media(max-width:1200px) {
  .navbar-form .input-group input[name="query"] {
    width: 450px;
  }
  .navbar-form {
    margin-left: -14px;
  }
  .navbar-header .navbar-brand {
    font-size: 27px;
  }
}

.navbar-form .input-group input[name="query"]:focus,
.navbar-form .input-group input[name="query"]:focus + .search-submit {
  border-color: #1abc9c;
}

.navbar-form #search-clear {
  z-index: 3;
  color: #cdd2d5;
  position: absolute;
  right: 60px;
  top: 10px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-form input.form-control {
  text-indent: 18px;
}

.navbar-form .input-group .input-group-btn button {
  z-index: 1;
  margin-top: 0;
  margin-left: -1px;
  margin-bottom: 0;
}

.navbar-form .dropdown-menu {
  margin-block-start: 3px;
}

.btn.navbar-text {
  margin-top: 20px;
}

h2.member-results {
  font-weight: 600;
  color: #1abc9c;
  border-bottom: 1px solid #cdd2d5;
  padding: 0;
  margin: 0 0 .35em 10px;
}

.pagination a {
  color: #28394B !important;
  border-color: #28394B !important;
}

.pagination a:hover {
  color: white !important;
  border-color: #e67e22 !important;
}

.pagination .disabled {
  color: #88939a !important;
  border-color: #88939a !important;
}

ul.counter-list {
  list-style: none;
  padding-inline-start: 10px;
}

/* remove iOS input shadow, from https://stackoverflow.com/questions/23211656/remove-ios-input-shadow */
input[type=text] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Then Style */
  border-radius: 5px;
}

.work span.small {
  color: #88939a;
}

.license svg {
  font-size: 27px;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.tags .label {
  margin-top: 8px;
  margin-right: 3px;
  font-size: 16px;
}

.tags .label-info {
  background: #ffffff;
  color: #2b84d2;
  border: 2px solid #2b84d2;
  cursor: pointer;
}

.pager li {
  margin: 3px;
}

ul.ror-identifiers {
  list-style: none;
  padding: 0;
}

.share-button {
  font-size: 32px;
  margin-right: 10px;
}

.no-content {
  margin-left: 10px;
  margin-right: 10px;
}

.col-md-9.search-nav {
  margin-top: -36px;
  margin-bottom: -20px;
  margin-left: 0;
  padding-left: 0;
}

#search-nav {
  margin-left: -6px;
  padding-left: 0;
}

#search-nav li.active a {
  color: #34495e;
  border-bottom: 3px solid #1abc9c;
  border-radius: 0;
}

#search-nav li a::before, #search-nav li a::after {
  display: none;
}

.navbar-form .search-submit {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 16px;
  height: 40px;
  width: 45px;
  border-top: 1px solid #cdd2d5;
  border-bottom: 1px solid #cdd2d5;
  border-right: 1px solid #cdd2d5;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
}

.navbar-form .search-submit:hover {
  border-color: #1abc9c;
  background-color: #1abc9c;
  color: white !important;
}

#related-content {
  margin-top: 30px;
}

#related-content h3.member-results {
  margin-top: 20px;
}

ul.nav.nav-tabs {
  margin-bottom: 10px;
}

ul.nav.nav-tabs li {
  margin-left: -15px;
  margin-right: 30px;
}

.content-tabs .tab-content {
  margin-left: -10px;
}

ul.nav.nav-tabs li span {
  font-weight: 600;
  color: #1abc9c;
  font-size: 25px;
}

.description.biography, .location, .inception-year {
  margin-bottom: 10px;
}

.alert-works {
  margin: 10px;
}

.alert a {
  font-weight: 600;
}

.export-metadata {
  padding-left: 10px;
  margin-bottom: 20px;
}

#other-profiles, #qrcode {
  margin-top: 10px;
}