.carousel-inner {
  background-color: white;
}
.carousel-indicators li {
  background-color: #a3acb2;
}
.panel-list {
  margin-top: 20px;
}

.panel-body h3.member > i {
  color: #1abc9c;
  font-size: 100%;
}

.metrics-counter i.fa {
  line-height: 25px;
  margin-right: 3px;
}

.metrics-counter i {
  margin-right: 1.5em;
}

.panel-footer span.bookmark, .panel-footer span.cite, .panel-footer span.save, .panel-footer span.claim, .panel-footer span.share {
  color: #88939A;
  margin-right: .75em;
  cursor: pointer;
}

.panel-footer a {
  margin-right: 3em;
}

.panel-footer .actions {
  white-space: pre;
}

h3.popover-title {
  background: #F7F9F9;
  font-size: 21px;
}

.form-horizontal.search {
  max-width: 100%;
  padding-bottom: 0;
}

.form-horizontal.search input[name="query"] {
  z-index: 1;
  height: 45px;
  border-width: 1px;
}

.form-horizontal.search input[name="query"]:focus {
  border-color: #1abc9c;
}

.form-horizontal.search #search-clear {
  z-index: 3;
  color: #cdd2d5;
  position: absolute;
  right: 25px;
  top: 12px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.form-horizontal.search input.form-control {
  text-indent: 24px;
}

.form-horizontal.search #search-icon {
  z-index: 3;
  color: #cdd2d5;
  position: absolute;
  left: 25px;
  top: 12px;
  text-decoration: none;
}

.btn.navbar-text {
  margin-top: 20px;
}

h2.member-results {
  font-weight: 600;
  color: #1abc9c;
  border-bottom: 1px solid #cdd2d5;
  padding: 0;
  margin: 0 0 .35em 10px;
}

.pagination .page-number a {
  color: #88939a !important;
  border-color: #88939a !important;
}

.pagination .page-number a:hover {
  color: white !important;
  border-color: #e67e22 !important;
}

ul.counter-list {
  list-style: none;
  padding-inline-start: 10px;
}

/* remove iOS input shadow, from https://stackoverflow.com/questions/23211656/remove-ios-input-shadow */
input[type=text] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Then Style */
  border-radius: 5px;
}

.work span.small {
  color: #88939a;
}

.license svg {
  font-size: 27px;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.tags .label {
  margin-top: 8px;
  margin-right: 3px;
  font-size: 16px;
}

.tags .label-info {
  background: #ffffff;
  color: #2b84d2;
  border: 2px solid #2b84d2;
  cursor: pointer;
}

.pager li {
  margin: 3px;
}

ul.ror-identifiers {
  list-style: none;
  padding: 0;
}

.share-button {
  font-size: 32px;
  margin-right: 10px;
}

.no-content {
  margin-left: 10px;
  margin-right: 10px;
}

#search-nav {
  margin-bottom: 1.25em;
}

#search-tabs-tab-content {
  padding-left: 36px;
}

#search-tabs-tab-content::before, #search-tabs-tab-content::after,
#search-tabs-tab-people::before, #search-tabs-tab-people::after,
#search-tabs-tab-organizations::before, #search-tabs-tab-organizations::after {
  display: none;
}

/* h3.member-results {
  margin-left: 0;
} */
