[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "datacitekit",
    "flask>=3.1.2",
]

[tool.uv.sources]
datacitekit = { url = "https://github.com/datacite/datacitekit/archive/main.zip" }
